/* DIJIT HORIZONTAL SLIDER */
.cr-dojo-dijits .dijitSliderH div.dijitSliderImageHandleH {
border: 0;
width: 14px;
height: 14px;
background-image: none;
background-repeat: no-repeat;
border-radius: 100%;
border: 1px solid #007fb2;
background: #0096d6;
margin-top: 1px;
}

.cr-dojo-dijits .dijitSliderBarH, .cr-dojo-dijits .dijitSliderBumperH {
height:8px;	
}

.cr-dojo-dijits .dijitSliderH div.dijitSliderLeftBumper {
border-radius: 4px 0px 0px 4px;
}

.cr-dojo-dijits .dijitSliderH div.dijitSliderRightBumper {
border-radius: 0px 4px 4px 0px;
}

.cr-dojo-dijits .dijitSliderH div.dijitSliderProgressBarH , .cr-dojo-dijits .dijitSliderH div.dijitSliderLeftBumper{
border-color: #0096d6;
background-color: #E8F5FE;
background-image: none;
box-shadow: none;
}

.cr-dojo-dijits .dijitSliderH div.dijitSliderRemainingBarH , .cr-dojo-dijits .dijitSliderH div.dijitSliderRightBumper {
box-shadow: none;	
}

.cr-dojo-dijits .dijitSliderDisabled div.dijitSliderImageHandleH {
border-color: #d3d3d3;
background: #d3d3d3;
}

.cr-dojo-dijits .dijitSliderDisabled div.dijitSliderProgressBarH , .cr-dojo-dijits .dijitSliderDisabled div.dijitSliderLeftBumper{
border-color: #d3d3d3;
background-color: #d3d3d3;
}

/* DIJIT HORIZONTAL SLIDER RULE LABEL */
.cr-dojo-dijits .dijitRuleLabel  {
font-size: 12px;
}

/* DIJIT TAB CONTAINER */
.cr-dojo-dijits div.dijitTabPaneWrapper.dijitTabContainerTop-container {
border:none;
}

.cr-dojo-dijits div.dijitTab {
background: none;
border: none;
transition-property: none;
}

.cr-dojo-dijits .dijitTabContainerTop-tabs {
border:none;
background-color: #CCD5D5;
}

.cr-dojo-dijits div.dijitTabContainerTop-tabs .dijitTabChecked, .cr-dojo-dijits div.dijitTabContainerTop-tabs .dijitTab {
background-image: none;
box-shadow:none;
padding: 10px 10px 5px 10px;
color: #5d6165;
font-size:14px;
margin-top: 5px;
}

.cr-dojo-dijits div.dijitTabContainerTop-tabs .dijitTab {
background-color::none;
}

.cr-dojo-dijits div.dijitTabChecked {
background: #fff;
}

/* DIJIT ACCORDION CONTAINER */
.cr-dojo-dijits div.dijitAccordionInnerContainerSelected {
border-color: transparent;
background-color: transparent;
}
.cr-dojo-dijits div.dijitAccordionInnerContainer {
background-color: transparent;
border: none;
margin-bottom: 1px;
-webkit-transition-property: background-color, border;
-moz-transition-property: background-color, border;
transition-property: background-color, border;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: linear;
-moz-transition-timing-function: linear;
transition-timing-function: linear;
}

.cr-dojo-dijits div.dijitAccordionInnerContainerSelected .dijitAccordionTitle {
background-color: transparent;
background-repeat: no-repeat;
background-image: none;
}

.cr-dojo-dijits div.dijitAccordionTitle {
background-color: transparent;
background-repeat: no-repeat;
background-image: none;
padding: 5px 7px 2px 7px;
font-size: 14px;
}

.cr-dojo-dijits div.dijitAccordionContainer .dijitAccordionChildWrapper {
background-color: #ffffff;
border: none;
margin: 0 2px 2px;
}

/* DOJOX TITLE GROUP */
.cr-dojo-dijits div.dojoxTitleGroup .dijitTitlePaneContentOuter .dijitTitlePaneContentOuter, .cr-dojo-dijits div.dojoxTitleGroup {
border-bottom: none;
}

/* DIJIT TITLE PANE */
.cr-dojo-dijits div.dijitTitlePaneTitle {
background: none;
background-color:transparent;
background-image:none;
font-size: 17px;
font-weight:bold;
border: none;
border-bottom: none;
font-variant:normal; 
margin: 0px;
line-height:95%;
color:#333333;
padding: 5px 0px;
}

.cr-dojo-dijits  div.dijitTitlePaneTitleOpen, .cr-dojo-dijits  div.dijitTitlePaneTitleFixedOpen {
background-color:transparent;
background: #f5f5f5;
}

.cr-dojo-dijits .dijitTitlePaneTitleClosed .dijitArrowNode, .cr-dojo-dijits .dijitTitlePaneTitleOpen .dijitArrowNode {
display:none;
}

.cr-dojo-dijits div.dijitTitlePaneTitleFocus {
margin-top: 9px;
padding-bottom: 2px;
}

.cr-dojo-dijits .layers  .dijitTitlePaneContentInner {
padding: 0px 0px;
background: #f5f5f5;
}
.cr-dojo-dijits  span.dijitTitlePaneTextNode {
   margin-left: 8px;
}

.cr-dojo-dijits div.dijitTitlePaneContentOuter {
border: none;	
}

/* DIJIT BUTTON */
.cr-dojo-dijits .dijitButton span.dijitButtonNode {
box-shadow:none;
background-image:none;
background-color:#0096d6;
border-color:#0084bd;
font-size:14px;
color:#fff;
padding: 4px 4px 4px 4px;
}

.cr-dojo-dijits span.dijitButtonText {
padding: 3px 14px;
}

.cr-dojo-dijits .dijitButtonHover span.dijitButtonNode {
background-color:#0084bd;
}

.cr-dojo-dijits .dijitButton.dijitButtonDisabled span.dijitButtonNode {
background-color:#80c2de;
border-color:#80c2de;
}

/* DIJIT COMBO BUTTON, DIJIT DROPDOWN BUTTON */
.cr-dojo-dijits .dijitComboButton td.dijitButtonNode, .cr-dojo-dijits .dijitDropDownButton span.dijitButtonNode {
border-left:1px solid #ddd;
border-right:none;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
box-shadow: none;
background-color: #fff;
background-image: none;
background-repeat: none;
padding:7px;
font-size: 14px;
}

.cr-dojo-dijits .dijitDropDownButton span.dijitButtonNode {
border-right:1px solid #ddd;
}

.cr-dojo-dijits .dijitComboButton div.dijitButtonContents, .cr-dojo-dijits .dijitDropDownButton span.dijitButtonContents {
text-align:left;
}

.cr-dojo-dijits .dijitComboButton td.dijitArrowButton, .cr-dojo-dijits .dijitDropDownButton span.dijitArrowButton {
border-left:none;
border-right:1px solid #ddd;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
width: 15px;
}

.cr-dojo-dijits .dijitComboButton div.dijitArrowButtonInner, .cr-dojo-dijits .dijitDropDownButton span.dijitArrowButtonInner {
background-image: none;
background-repeat: no-repeat;
}

.cr-dojo-dijits .dijitComboButton div.dijitArrowButtonInner::before, .cr-dojo-dijits .dijitDropDownButton span.dijitArrowButtonInner::before {
content: '\f078';
font: 12px FontAwesome;
color: #ddd;
right: 0px;
top: 0px;
padding: 6px 5px 6px 2px;
position: relative;
background:#ffffff;
pointer-events: none;
}

.cr-dojo-dijits.dijitMenuPassive.dijitMenu {
border:1px solid #ddd;	
}

.cr-dojo-dijits.dijitMenu tr.dijitMenuItemHover, .cr-dojo-dijits.dijitMenu tr.dijitMenuItemHover td {
border-color:#ddd;
background-image:none;
background-color:#cccccc;
}

/* DIJIT RADIO BUTTON */
.cr-dojo-dijits div.dijitRadio {
background-image:none;
position:relative;
top:0px;
width:18px;
height:18px;
}

.cr-dojo-dijits .dijitRadio .dijitCheckBoxInput {
opacity: 0;
width:18px;
height:18px;
}

.cr-dojo-dijits div.dijitRadio::before {
content:'';
position:absolute;
top: 0px;
left: 2px;
width: 16px;
height: 16px;
border-radius: 100%;
background: #fff;
box-shadow: inset 0 0 0 2px #dddddd;
transition: 0.25s ease all;
-webkit-font-smoothing: antialiased;
}

.cr-dojo-dijits div.dijitRadioChecked::before {
position:absolute;
top: 0px;
left: 2px;
width: 16px;
height: 16px;
border-radius: 100%;
box-shadow: inset 0 0 0 5px #0096d6;
transition: 0.25s ease all;
-webkit-font-smoothing: antialiased;
}

/* DIJIT CHECKBOX INPUT */
.cr-dojo-dijits div.dijitCheckBox {
background-image:none;
position:relative;
top:0px;
width:18px;
height:18px;
}

.cr-dojo-dijits .dijitCheckBox .dijitCheckBoxInput {
opacity: 0;
width:18px;
height:18px;
}

.cr-dojo-dijits div.dijitCheckBox::before {
content:'\f096';
font-family: "FontAwesome";
font-size:16px;
position:absolute;
top: 0px;
left: 2px;
width: 16px;
height: 16px;
transition: 0.25s ease all;
-webkit-font-smoothing: antialiased;
color: #0096d6;
}

.cr-dojo-dijits div.dijitCheckBoxChecked::before {
content:'\f14a';
font-family: "FontAwesome";
font-size:16px;
position:absolute;
top: 0px;
left: 2px;
width: 16px;
height: 16px;
transition: 0.25s ease all;
-webkit-font-smoothing: antialiased;
color: #0096d6;
}